.about {
    position: relative;
    overflow: hidden;
    padding: rem(60) rem(0);
    z-index: 1;
    @media (max-width: 530px) {
        overflow: visible;
        padding: rem(60) rem(0) rem(0) rem(0);
    }

    &__header {
        margin-bottom: rem(50);
        display: flex;
        flex-direction: column;
        gap: rem(30);
        @media (max-width: 1024px) {
            margin-bottom: rem(20);
        }
        @media (max-width: 530px) {
            gap: rem(15);
            margin-bottom: rem(10);
        }
        &_title {
            display: flex;
            align-items: center;
        }

        &_description {
        }
    }

    &__title {
        display: flex;
        &_item {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(48);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            text-decoration-line: underline;
            @media (max-width: 530px) {
                font-size: rem(24);
            }
        }
        &_img {
            width: rem(53);
            margin-left: rem(10);
            @media (max-width: 530px) {
                width: rem(23);
                margin-left: rem(5);
            }
        }
    }

    &__description {
        &_item {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: rem(24);
            font-weight: 300;
            line-height: rem(29);
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 1024px) {
                font-size: rem(14);
                font-weight: 300;
                line-height: 140%;
            }
            @media (max-width: 530px) {
                font-size: rem(12);
                font-weight: 300;
                line-height: 140%;
            }
            @media (max-width: 530px) {
                width: rem(160);
            }
        }
    }

    &__row {
        position: relative;
        &_line {
            display: flex;
            justify-content: space-between;
            gap: rem(20);
        }

        &_columns {
            display: flex;
            justify-content: space-between;
            gap: rem(50);
            @media (max-width: 530px) {
                gap: rem(20);
            }
        }
        &_elements {
            position: absolute;
            width: rem(255);
            top: rem(280);
            left: rem(480);
            pointer-events: none;
            display: block;
             @media (max-width: 1024px) {
                 top: rem(210);
            left: rem(190);
            width: rem(105);

            }
            @media (max-width: 530px) {
                display: none;
            }
        }
        &_elements-mobile1 {
            display: none;
            @media (max-width: 1024px) {
            width: rem(65);
                display: block;
                position: absolute;
                 top: rem(-20);
            left: rem(110);
            // width: rem(105);

            }
            @media (max-width: 530px) {
                position: absolute;
                display: block;
                width: rem(65);
                top: rem(-15);
                left: rem(100);
                transform: rotate(210deg);
                pointer-events: none;
            }
        }
        &_elements-mobile2 {
            display: none;
            @media (max-width: 530px) {
                position: absolute;
                display: block;
                width: rem(55);
                top: rem(235);
                left: rem(105);
                pointer-events: none;
            }
        }
        &_elements-mobile3 {
            display: none;
        
            @media (max-width: 530px) {
                position: absolute;
                display: block;
                width: rem(85);
                top: rem(405);
                left: rem(235);
                pointer-events: none;
                transform: rotate(90deg);
            }
        }
    }

    &__line {
        &_image {
        }

        &_content {
            width: rem(874);
            @media (max-width: 530px) {
                width: rem(179);
                margin-top: rem(-62);
            }
        }
    }

    &__image {
        &_item {
            width: rem(436);
            border-radius: rem(33) rem(165) rem(28) rem(37);
            box-shadow: rem(6) rem(9) rem(25) rem(0) rgba(0, 0, 0, 0.25);
            pointer-events: none;
            @media (max-width: 530px) {
                width: rem(179);
            }
        }
    }

    &__content {
        &_text {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: rem(24);
            font-weight: 300;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 1024px) {
                font-size: rem(14);
            }
            @media (max-width: 530px) {
                margin-top: rem(-15);
                font-size: rem(12);
            }
        }

        &_list {
            margin-top: rem(50);
            @media (max-width: 1024px) {
                margin-top: rem(20);
            }
            @media (max-width: 530px) {
                margin-top: rem(10);
                display: flex;
                flex-direction: column;
                gap: rem(5);
            }
        }
    }

    &__list {
        &_item {
            margin-left: rem(50);
            list-style-type: circle;
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: rem(24);
            font-weight: 300;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 1024px) {
                font-size: rem(14);
            }
            @media (max-width: 530px) {
                font-size: rem(10);
                margin-left: rem(15);
            }
        }
    }

    &__columns {
        &_fcolumn {
            width: rem(601);
            display: flex;
            flex-direction: column;
            @media (max-width: 530px) {
                gap: rem(10);
                margin-top: rem(30);
                width: rem(150);
            }
        }

        &_tcolumn {
            width: rem(709);
            margin-top: rem(-175);
            display: flex;
            flex-direction: column;
            gap: rem(20);
            @media (max-width: 1024px) {
                          margin-top: rem(15);

            }
            @media (max-width: 530px) {
                margin-top: rem(20);
                gap: rem(10);
            }
            @media (max-width: 530px) {
                margin-top: rem(5);
                width: rem(150);
                gap: rem(10);
            }
        }
    }

    &__fcolumn {
        &_text {
            margin: rem(50) rem(0);
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: rem(32);
            font-weight: 300;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 1024px) {
                margin: rem(20) rem(0);

                font-size: rem(16);
            }
            @media (max-width: 530px) {
                margin: rem(20) rem(0);

                font-size: rem(16);
            }
            @media (max-width: 530px) {
                margin: rem(-20) rem(0) rem(0) rem(0);

                font-size: rem(12);
            }
        }

        &_img {
            width: rem(601);
            pointer-events: none;
            @media (max-width: 530px) {
                width: rem(208);
            }
        }
    }

    &__tcolumn {
        &_img {
            width: rem(709);
            pointer-events: none;
            @media (max-width: 1024px) {
                width: rem(255);
            }
            @media (max-width: 530px) {
                width: rem(208);
            }
        }

        &_text {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: rem(24);
            font-weight: 300;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 1024px) {
                color: rgb(0, 0, 0);
                font-family: Montserrat;
                font-size: rem(14);
                font-weight: 300;
                line-height: 140%;
                letter-spacing: rem(0);
                text-align: left;
            }
            @media (max-width: 530px) {
                color: rgb(0, 0, 0);
                font-family: Montserrat;
                font-size: rem(12);
                font-weight: 300;
                line-height: 140%;
                letter-spacing: rem(0);
                text-align: left;
            }
        }
    }
}

@media (max-width: 1024px) {
    .mobile-text {
           margin-top: rem(0);
        width: rem(521);
        margin-left: rem(-270);
    }
}
@media (max-width: 530px) {
    .mobile-text {
        margin-top: rem(5);
        width: rem(320);
        margin-left: rem(-170);
    }
}

