.contacts {
    background-color: white;
    padding: rem(120) rem(0);
    @media (max-width: 530px) {
        padding: rem(60) rem(0);
    }
    &__row {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        @media (max-width: 530px) {
            flex-direction: column;
        }
        &_content {
        }

        &_map {
        }
    }
    &__map {
        &_item {
            width: rem(981);
            height: rem(484);
            border-radius: rem(48);
            box-shadow: rem(0) rem(4) rem(17) rem(0) rgba(0, 0, 0, 0.25);
              @media (max-width: 1024px) {
                width: rem(530);
                height: rem(284);
            }
            @media (max-width: 530px) {
                width: rem(320);
                height: rem(284);
            }
        }
    }
    &__content {
        &_title {
        }

        &_connect {
        }

        &_social {
        }

        &_wrapper {
            @media (max-width: 1024px) {
                display: flex;
                gap: rem(20);
                margin-bottom: rem(20);
            }
            @media (max-width: 530px) {
                display: flex;
                gap: rem(20);
                margin-bottom: rem(20);
            }
        }
    }

    &__title {
        &_item {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(48);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            text-decoration-line: underline;
            @media (max-width: 530px) {
                font-size: rem(24);
            }
        }
    }

    &__connect {
        &_title {
            margin-top: rem(40);

            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(20);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            text-decoration-line: underline;
            @media (max-width: 530px) {
                font-size: rem(14);
                margin-top: rem(20);
            }
        }

        &_list {
            margin-top: rem(15);
            display: flex;
            flex-direction: column;
            gap: rem(10);
        }
    }

    &__list {
        &_item {
        }

        &_link {
            display: flex;
            align-items: center;
            //
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(20);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 530px) {
                font-size: rem(12);
            }
        }

        &_img {
            margin-right: rem(10);
            @media (max-width: 1024px) {
                width: rem(24);
                margin-right: rem(5);
            }
            @media (max-width: 530px) {
                width: rem(20);
                margin-right: rem(5);
            }
        }
    }

    &__social {
        &_title {
            margin-top: rem(40);
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(20);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            text-decoration-line: underline;
            @media (max-width: 530px) {
                font-size: rem(14);
                margin-top: rem(20);
            }
        }

        &_item {
        }

        &_icons {
            margin-top: rem(15);
            display: flex;
            gap: rem(10);
            @media (max-width: 530px) {
                margin-top: rem(10);
                gap: rem(5);
            }
        }
    }
    &__icons {
        &_item {
        }

        &_link {
        }

        &_img {
            width: rem(40);
            @media (max-width: 530px) {
                width: rem(30);
            }
        }
    }
}
