.footer {
    overflow: hidden;
    position: relative;
    padding: rem(120) rem(0);
    background-color: rgb(40, 40, 38);
    @media (max-width: 530px) {
        padding: rem(60) rem(0);
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 530px) {
            flex-direction: column;
        }
        &_wrapper {
            display: flex;
            align-items: center;
            gap: rem(104);
            @media (max-width: 530px) {
                margin-top: rem(20);
                display: flex;
                gap: rem(0);
                align-items: flex-start;
                // flex-direction: column;
            }
        }
        &_logo {
        }

        &_menu {
            @media (max-width: 530px) {
                // margin:rem(20) rem(0);
            }
        }

        &_btn {
            @media (max-width: 530px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    &__logo {
        &_link {
        }

        &_img {
            width: rem(253);
        }
    }

    &__menu {
        display: flex;
        width: rem(591);
        justify-content: space-between;
        @media (max-width: 530px) {
            width: rem(160);
            flex-direction: column;
            justify-content: center;
            gap: rem(20);
        }
        &_item {
        }

        &_link {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: rem(20);
            font-weight: 400;
            line-height: rem(24);
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 530px) {
                font-size: rem(14);
            }
        }
    }

    &__btn {
        &_item {
            @include btn;
        }
    }

    &__contacts {
        margin-top: rem(40);
@media (max-width: 530px) {
               margin-top: rem(20);
            }
        &_content {
            display: flex;
            justify-content: space-between;
            @media (max-width: 530px) {
                flex-direction: column;
            }
        }
    }

    &__content {
        &_connect {
            @media (max-width: 530px) {
                display: none;
            }
        }
        &_map {
            @media (max-width: 530px) {
                display: none;
            }
        }
        &_wrapper {
            @media (max-width: 530px) {
                display: flex;
                gap: rem(20);
                margin-bottom: rem(20);
            }
        }
    }
    &__map {
        &_item {
            width: rem(981);
            height: rem(286);
            border-radius: rem(48);

            box-shadow: rem(0) rem(4) rem(17) rem(0) rgba(0, 0, 0, 0.25);

            @media (max-width: 530px) {
                width: rem(320);
                height: rem(284);
            }
        }
    }
    &__connect {
        &_title {
        }

        &_list {
            margin-top: rem(15);
            &.mobile-none {
                display: none;
                @media (max-width: 530px) {
                    display: block;
                }
            }
        }

        &_social {
        }
    }

    &__title {
        &_item {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(20);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            text-decoration-line: underline;
            @media (max-width: 530px) {
                font-size: rem(14);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        @media (max-width: 530px) {
            margin-top: rem(20);
        }

        &_item {
        }

        &_link {
            display: flex;
            align-items: center;
            //
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(20);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 530px) {
                font-size: rem(12);
            }
        }

        &_img {
            margin-right: rem(10);
            width: rem(28);
            @media (max-width: 530px) {
                width: rem(20);
            }
        }
    }

    &__social {
        &_title {
            margin-top: rem(40);
            @media (max-width: 530px) {
                margin-top: rem(0);
            }
        }

        &_icons {
            margin-top: rem(10);
        }
    }

    &__icons {
        display: flex;
        gap: rem(10);
        @media (max-width: 530px) {
            gap: rem(5);
        }
        &_item {
        }

        &_link {
        }

        &_image {
            width: rem(40);
            @media (max-width: 530px) {
                width: rem(30);
            }
        }
    }
}
