.hello {
    position: relative;
    overflow: hidden;
    padding: rem(120) rem(0) rem(180) rem(0);
    @media (max-width: 530px) {
        padding: rem(120) rem(0) rem(60) rem(0);
      
    }
    box-shadow: inset rem(0) rem(4) rem(20) rem(0) rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    &__row {
        display: flex;
        position: relative;
        @media (max-width: 530px) {
            flex-direction: column;
        }
        
        &_content {
            max-width: rem(673);
            @media (max-width: 530px) {
                max-width: rem(457);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &_image {
            position: relative;
            width: rem(700);
            height: rem(500);
            right: rem(0);
            @media (max-width: 530px) {
                width: rem(315);

            right: rem(10);
                height: rem(75);
            }
        }
    }

    &__content {
        &_header {
            margin-bottom: rem(50);
        }

        &_body {
            display: flex;
            flex-direction: column;
            gap: rem(25);
        }

        &_footer {
            margin-top: rem(40);
        }
    }

    &__header {
        &_title {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-style: italic;
            font-size: rem(36);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            text-decoration-line: underline;
            @media (max-width: 530px) {
                color: rgb(0, 0, 0);
                font-family: Montserrat;
                font-style: italic;
                font-size: rem(24);
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: center;
                text-decoration-line: underline;
            }
        }
    }

    &__body {
        &_text {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: rem(24);
            font-weight: 300;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 530px) {
                color: rgb(0, 0, 0);
                font-family: Montserrat;
                font-size: rem(18);
                font-weight: 300;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: center;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &_btn {
            @include btn;
        }
    }

    // .hello__item1

    &__item1 {
        position: absolute;
        right: rem(-50);
        top: rem(-100);
        pointer-events: none;

        // .hello__item1_row

        &_row {
            position: relative;
            width: rem(372);
            @media (max-width: 530px) {
                width: rem(75);
            }
        }

        // .hello__item1_bg

        &_bg {
            img {
                position: absolute;
                width: rem(372);
                @media (max-width: 530px) {
                    width: rem(75);
                    right: rem(125);
                        top: rem(130);
                }
            }
        }

        // .hello__item1_border

        &_border {
            img {
                position: absolute;
                width: rem(372);

                animation: star1anim 300s linear infinite;
                top: rem(0);
                left: rem(10);
                @media (max-width: 530px) {
                    width: rem(75);
                    top: rem(130);
                    left: rem(-125);
                // left: rem(0);
                }
            }
        }
    }

    // .hello__item2

    &__item2 {
        position: absolute;
        top: rem(20);
        left: rem(20);
        pointer-events: none;
        // .hello__item2_row

        &_row {
            position: relative;
            width: rem(360);
           
        }

        // .hello__item2_bg

        &_bg {
            img {
                position: absolute;

                width: rem(360);
                @media (max-width: 530px) {
                    width: rem(75);
                    left: rem(-10);
                }
            }
        }

        // .hello__item2_border

        &_border {
            img {
                width: rem(360);

                animation: star1anim 260s linear infinite;
                position: absolute;
                top: rem(-10);
                left: rem(-10);
                @media (max-width: 530px) {
                    width: rem(75);
                top: rem(0);
                left: rem(-10);

                }
            }
        }
    }

    // .hello__item3

    &__item3 {
        position: absolute;
        pointer-events: none;
        bottom: rem(-140);
        left: rem(100);
        // .hello__item3_row

        &_row {
            width: rem(260);
            position: relative;
        }

        // .hello__item3_bg

        &_bg {
            img {
                position: absolute;
                bottom: rem(0);
                width: rem(260);
                @media (max-width: 530px) {
                    width: rem(75);
                       bottom: rem(105);
                       left: rem(-10);
                       
                }
            }
        }

        // .hello__item3_border

        &_border {
            img {
                animation: star2anim 250s linear infinite;

                position: absolute;
                width: rem(260);
                bottom: rem(20);
                right: rem(0);
                @media (max-width: 530px) {
                    width: rem(75);
                bottom: rem(110);
                right: rem(198);


                }
            }
        }
    }

    // .hello__item4

    &__item4 {
        position: absolute;
        pointer-events: none;
        bottom: rem(-120);
        right: rem(0);
        // .hello__item4_row

        &_row {
            width: rem(372);
        }

        // .hello__item4_bg

        &_bg {
            img {
                position: absolute;
                bottom: rem(0);
                right: rem(0);
                width: rem(325);
                @media (max-width: 530px) {
                    bottom: rem(100);
                    right: rem(0);
                    width: rem(75);
                }
            }
        }

        // .hello__item4_border

        &_border {
            img {
                width: rem(325);
                animation: star1anim 220s linear infinite;
                position: absolute;
                bottom: rem(20);
                right: rem(-8);
                @media (max-width: 530px) {
                    bottom: rem(105);
                    right: rem(-2);

                    width: rem(75);
                }
            }
        }
    }
}

@keyframes star1anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes star2anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
