@keyframes anim-line1 {
    0% {
        transform: translateY(rem(0));
    }
    50% {
        transform: translateY(rem(10));
    }

    100% {
        transform: translateY(rem(0));
    }
}

.lines {
    position: relative;

    top: rem(-200);
    @media (max-width: 530px) {
        top: rem(100);
    }
}
.lines-two .lines {
    position: relative;
    transform: rotate(0.61turn);
    // transform: scale(1);
    left: rem(-260);
    top: rem(1300);
    @media (max-width: 530px) {
        top: rem(350);
        left: rem(-200);
    }
    pointer-events: none;
}
.lines-three .lines {
    position: relative;
    // transform: rotate(0.61turn);
    transform: rotate(-180deg);

    left: rem(0);
    top: rem(900);
    pointer-events: none;
    @media (max-width: 530px) {
        top: rem(380);
        left: rem(-0);
    }
}
.lines-four .lines {
    position: relative;
    transform: rotate(215deg);
    // transform: scale(1);
    left: rem(-300);
    top: rem(1700);
    @media (max-width: 530px) {
        top: rem(650);
        left: rem(-60);
    }
    pointer-events: none;
}
.lines-five .lines {
    position: relative;
    transform: rotate(-180deg);
    // transform: scale(1);
    left: rem(-10);
    top: rem(2700);
    pointer-events: none;
    @media (max-width: 530px) {
        top: rem(1000);
        left: rem(0);
    }
}
.lines-six .lines {
    position: relative;
    transform: rotate(215deg);

    top: rem(700);
    left: rem(-250);
    @media (max-width: 530px) {
        top: rem(600);
        left: rem(-60);
        transform: rotate(245deg);
    }
    pointer-events: none;
}
.lines-eight {
    position: relative;
    transform: rotate(215deg);

    top: rem(500);
    left: rem(-100);
    pointer-events: none;
    @media (max-width: 530px) {
        transform: rotate(255deg);

        top: rem(650);
        left: rem(-175);
    }
}
.lines-eleven .lines {
    position: relative;
    transform: rotate(0.61turn);
    // transform: scale(1);
    left: rem(-130);
    top: rem(500);
    z-index: -1;
    @media (max-width: 530px) {
        top: rem(300);
        left: rem(-200);
    }
    pointer-events: none;
}
.line1 {
    position: absolute;
    top: rem(0);
    left: rem(0);
    animation-name: anim-line1;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    img {
        width: rem(1920);
        @media (max-width: 530px) {
            transform: scale(3);
        }
    }
}
.line2 {
    position: absolute;
    top: rem(10);
    left: rem(0);
    animation-name: anim-line1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    img {
        width: rem(1920);
        @media (max-width: 530px) {
            transform: scale(3);
        }
    }
}
.line3 {
    position: absolute;
    top: rem(40);
    animation-name: anim-line1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    img {
        width: rem(1920);

        @media (max-width: 530px) {
            transform: scale(3);
        }
    }
}
