<div class="about">
    <div class="lines-two">
        @include('vectorlines.html')
    </div>
  
    <div class="container">
        <div class="about__header">
            <div class="about__header_title">
                <h2 class="about__title_item">Обо мне</h2>
                <img src="/img/icons/stars.svg" alt="" class="about__title_img">
            </div>
            <div class="about__header_description">
                <p class="about__description_item">
                    В этом блоке я расскажу о своём <span class="regularitalic">необычном и креативном</span> подходе к маникюру.
                </p>
            </div>
        </div>
        <div class="about__row">
            <img src="img/icons/elements.png" alt="" class="about__row_elements"> 
            <div class="about__row_line">
                <div class="about__line_image">
                    <img data-aos="fade-right" data-aos-once="true" class="about__image_item" src="/img/image.png (4).png" alt="">
                </div>
                <div class="about__line_content">
                    <p class="about__content_text">
                        Не спорю, тренды - это здорово. Они могут вдохновить, дать новые идеи. Но не стоит превращать их в догму. <br>
                        <span class="regularitalic">Самое главное - это то, что тебе действительно нравится.</span>   
                    </p>
                    <ul class="about__content_list">
                        <li class="about__list_item" data-aos="fade-left"
                        data-aos-duration="1000" data-aos-once="true">Какой цвет тебя радует? 
                        </li>
                        <li class="about__list_item" data-aos="fade-left"
                        data-aos-duration="1500" data-aos-once="true">Какие рисунки вызывают улыбку? 
                        </li>
                        <li class="about__list_item" data-aos="fade-left"
                        data-aos-duration="2000" data-aos-once="true">Какая форма ногтей заставляет чувствовать себя уверенно?</li>
                    </ul>
                </div>
            </div>
            <div class="about__row_columns">
                <div class="about__columns_fcolumn">
                    <p data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" class="about__fcolumn_text">
                        
                        <span class="semibloditalic">Не стесняйся</span> своих предпочтений.
                        <br>Не бойся пробовать то, <br>
                        что кажется необычным.
                    </p>
                    <img data-aos="fade-right" data-aos-once="true" src="/img/image.png (5).png" alt="" class="about__fcolumn_img">
                </div>
                <div class="about__columns_tcolumn">
                    <img data-aos="fade-left" data-aos-once="true" src="/img/image.png (6).png" alt="" class="about__tcolumn_img">
                    <p data-aos="fade-left" data-aos-once="true" data-aos-duration="1000" class="about__tcolumn_text">Я, как твой мастер, готова воплотить в жизнь все твои самые смелые идеи и задумки. 
                    </p>
                    <p data-aos="fade-left" data-aos-duration="1500" data-aos-once="true" class="about__tcolumn_text"><span class="underlinefont">Моя цель</span> - сделать твой маникюр не <br> только <span class="lightitalic">красивым</span> , но и <span class="lightitalic">современным</span>. </p>
                    <p data-aos="fade-left" data-aos-once="true" data-aos-duration="2000" class="about__tcolumn_text">Мы подберем идеальную форму, оттенок и дизайн, который будет гармонировать с твоим стилем и настроением.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="stars-three">
        @include('vectorstars.html')
    </div>
</div>