<div class="contacts" >
   
    <div class="lines-one">
        @include('vectorlines.html')
    </div>
    <div class="container">
        <div class="stars-sev">
            @include('vectorstars.html')
        </div>
        <div class="contacts__row">
            <div class="contacts__row_content">
                <div class="contacts__content_title">
                    <h2 class="contacts__title_item">
                        Контакты
                    </h2>
                </div>
                <div class="contacts__content_connect">
                    <p class="contacts__connect_title">
                        Связь со мной:
                    </p>
                    <ul class="contacts__connect_list">
                        <li data-aos="fade-right" data-aos-duration="500" data-aos-once="true" class="contacts__list_item"><a href="" class="contacts__list_link"><img src="img/icons/phone-c.svg" alt="" class="contacts__list_img">+7 (951) 419-44-50</a></li>
                        <li data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="contacts__list_item"><a href="" class="contacts__list_link"><img src="img/icons/email.svg" alt="" class="contacts__list_img">katanna_manik</a></li>
                        <li data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" class="contacts__list_item"><a href="" class="contacts__list_link"><img src="img/icons/location.svg" alt="" class="contacts__list_img">5-я линия, 157а, Омск</a></li>
                    </ul>
                </div>
                <div class="contacts__content_social">
                    <div class="contacts__social_title">
                        <p class="contacts__social_item">
                            Мои соц.сети:
                        </p>
                        <ul class="contacts__social_icons">
                            <li class="contacts__icons_item"><a href="" class="contacts__icons_link"><img src="img/icons/vk.svg" alt="" class="contacts__icons_img"></a></li>
                            <li class="contacts__icons_item"><a href="" class="contacts__icons_link"><img src="img/icons/telegram.svg" alt="" class="contacts__icons_img"></a></li>
                            <li class="contacts__icons_item"><a href="" class="contacts__icons_link"><img src="img/icons/whatsapp.svg" alt="" class="contacts__icons_img"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contacts__row_map">
                <iframe class="contacts__map_item"
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A0caab1214663002d86ebf7d70e7b95019fcc522fd400c52f97a6471e0a15c381&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>