<footer class="footer">
    <div class="lines-eight">
        @include('vectorlines.html')
    </div>
    <div class="container">
        <div class="stars-eight">
            @include('vectorstarswhite.html')
        </div>
        <div class="stars-ten">
            @include('vectorstarswhite.html')
        </div>
        <div class="footer__row">
            <div class="footer__row_logo">
                <a href="" class="footer__logo_link">
                    <img src="img/logo-white.svg" alt="" class="footer__logo_img">
                </a>
            </div>
            <div class="footer__row_menu">
                <ul class="footer__menu">
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">Обо мне</a></li>
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">Услуги</a></li>
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">Портфолио</a></li>
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">Галерея</a></li>
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__row_btn">
                <a href="" class="footer__btn_item">
                    Запись онлайн
                </a>
            </div>
        </div>
        <div class="footer__contacts">
            <div class="footer__contacts_content">
                <div class="footer__content_wrapper">
                    <div class="footer__content_connect">
                        <div class="footer__connect_title">
                            <p class="footer__title_item">
                                Связь со мной:
                            </p>
                        </div>
                        <div class="footer__connect_list">
                            <ul class="footer__list">
                                <li class="footer__list_item"><a href="" class="footer__list_link"><img src="img/icons/phone-w.svg" alt=""
                                            class="footer__list_img">+7 (951) 419-44-50</a></li>
                                <li class="footer__list_item"><a href="" class="footer__list_link"><img src="img/icons/email-w.svg" alt=""
                                            class="footer__list_img">katanna_manik</a></li>
                                <li class="footer__list_item"><a href="" class="footer__list_link"><img src="img/icons/location-w.svg"
                                            alt="" class="footer__list_img">5-я линия, 157а, Омск</a></li>
                            </ul>
                        </div>
                    
                    </div>
                    <div class="footer__connect_social">
                        <div class="footer__social_title">
                            <p class="footer__title_item">
                                Мои соц.сети:
                            </p>
                        </div>
                        <div class="footer__social_icons">
                            <ul class="footer__icons">
                                <li class="footer__icons_item"><a href="" class="footer__icons_link"><img src="img/icons/vk-w.svg" alt=""
                                            class="footer__icons_image"></a></li>
                                <li class="footer__icons_item"><a href="" class="footer__icons_link"><img src="img/icons/telegram-w.svg"
                                            alt="" class="footer__icons_image"></a></li>
                                <li class="footer__icons_item"><a href="" class="footer__icons_link"><img src="img/icons/whatsapp-w.svg"
                                            alt="" class="footer__icons_image"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__content_map" data-aos="fade-up" data-aos-once="true" >
                    <iframe class="footer__map_item"
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A0caab1214663002d86ebf7d70e7b95019fcc522fd400c52f97a6471e0a15c381&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

