
  <header class="header">
    <div class="container">
      <div class="header__row">
        <div class="header__row_logo">
          <a href="#" class="header__logo_link">
            <img src="img/logo.svg" alt="" class="header__logo_img" />
          </a>
        </div>
        <div class="header__row_content">
          <div class="header__content_top">
              <div class="header__top_menu">
                  <ul class="header__menu">
                      <li class="header__menu_item"><a href="#aboutus" class="header__menu_link">Обо мне</a></li>
                      <li class="header__menu_item"><a href="#price" class="header__menu_link">Услуги</a></li>
                      <li class="header__menu_item"><a href="#portfolio" class="header__menu_link">Портфолио</a></li>
                      <!-- <li class="header__menu_item"><a href="#" class="header__menu_link">Галерея</a></li> -->
                      <li class="header__menu_item"><a href="#contacts" class="header__menu_link">Контакты</a></li>
                  </ul>
                 
              </div> 
              <a  data-fancybox href="#hidden" class="header__top_button">
                  Запись онлайн
              </a>
          </div>
          <div class="header__content_bottom">
              <div class="header__bottom_phone">
                  <img src="img/icons/phone.svg" alt="" class="header__phone_image">
                  <a href="tel:+79514194450" class="header__phone_link">+7 (951) 419-44-50</a>
              </div>
              <div class="header__bottom_socialn">
                  <ul class="header__socialn_list">
                      <li class="header__socialn_item"><a href="#" class="header__socialn_link"><img src="img/icons/vk.svg" alt="" class="header__socialn_img"></a></li>
                      <li class="header__socialn_item"><a href="#" class="header__socialn_link"><img src="img/icons/telegram.svg" alt="" class="header__socialn_img"></a></li>
                      <li class="header__socialn_item"><a href="#" class="header__socialn_link"><img src="img/icons/whatsapp.svg" alt="" class="header__socialn_img"></a></li>
                  </ul>
              </div>
          </div>
          
    
        </div>
      </div>
    </div>
  </header>
<button class="burger" data-burger>
  <span class="burger__line"></span>
</button>
    <div class="header__burger" data-menu>
      
      <nav class="burger__menu">
        <div class="burger__menu_logo">
          <a href="index.html" class="burger__logo_link">
            <img src="img/logo.svg" alt="" class="burger__logo_img">
          </a>
        </div>
        <ul class="burger__list">


            
            
            
          <li class="burger__item">
                   <a href="#aboutus" class="header__menu_link"  data-menu-item>Обо мне</a>
          </li>
          <li class="burger__item">
                       <a href="#price" class="header__menu_link" data-menu-item>Услуги</a>
          </li>
          <li class="burger__item">
           <a href="#portfolio" class="header__menu_link" data-menu-item>Портфолио</a>
          </li>
          <li class="burger__item">
            <a href="#contacts" class="header__menu_link" data-menu-item>Контакты</a>
          </li>
        </ul>
        <div class="burger__menu_contacts">
          <div class="burger__contacts_column">
              <p class="burger__connect_title">
                Связь со мной:
              </p>
              <ul class="burger__connect_list">
                <li data-aos="fade-right" data-aos-duration="500" data-aos-once="true" class="burger__list_item"><a href="" class="burger__list_link"><img src="img/icons/phone-c.svg" alt="" class="burger__list_img">+7 (951) 419-44-50</a></li>
                <li data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="burger__list_item"><a href="" class="burger__list_link"><img src="img/icons/email.svg" alt="" class="burger__list_img">katanna_manik</a></li>
                <li data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" class="burger__list_item"><a href="" class="burger__list_link"><img src="img/icons/location.svg" alt="" class="burger__list_img">5-я линия, 157а, Омск</a></li>
              </ul>
              <p class="burger__social_item">
                Мои соц.сети:
              </p>
              <ul class="burger__social_icons">
                <li class="burger__icons_item"><a href="" class="burger__icons_link"><img src="img/icons/vk.svg" alt="" class="burger__icons_img"></a></li>
                <li class="burger__icons_item"><a href="" class="burger__icons_link"><img src="img/icons/telegram.svg" alt="" class="burger__icons_img"></a></li>
                <li class="burger__icons_item"><a href="" class="burger__icons_link"><img src="img/icons/whatsapp.svg" alt="" class="burger__icons_img"></a></li>
            </ul>
          </div>
        </div>
        <a data-fancybox href="#hidden" class="header__top_button burger-item">
          Запись онлайн
        </a>
      </nav>
    </div>
    <div class="burger__overlay" data-menu-overlay></div>


    
   