<div class="hello">
    <div class="lines-one">
        @include('vectorlines.html')
    </div>
    <div class="stars-one">
        @include('vectorstars.html')
    </div>
  

    <div class="container">
        <div class="hello__row">
            <div class="hello__row_content">
                <div class="hello__content_header">
                    <h1 class="hello__header_title">
                        Твой маникюр - твои правила! 💅
                    </h1>
                </div>
                <div class="hello__content_body">
                    <p class="hello__body_text">
                        Я помогу создать маникюр, который будет не только отражением твоей 
                        индивидуальности, но и будет выглядеть <span class="lightitalic">стильно</span>  и <span class="lightitalic">актуально</span>!
                    </p>
                    <p class="hello__body_text">
                        Так что забудь о трендах, которые тебе <span class="underlinefont">не по душе</span>.
                        Доверься своим ощущениям, а я с <span class="lightitalic">удовольствием</span> помогу тебе стать обладательницей <span class="lightitalic">прекрасного маникюра</span>! 
                    </p>
                    <p class="hello__body_text">
                        Записывайся ко мне - будем творить 💔
                    </p>
                </div>
                <div class="hello__content_footer">
                    <a href="" class="hello__footer_btn">
                        Запись онлайн
                    </a>
                </div>
            </div>
            <div class="hello__row_image">
                <div class="hello__item1" data-aos="fade-left" 
                data-aos-anchor-placement="bottom-bottom"
                data-aos-duration="300"
                data-aos-once="true">
                    <div class="hello__item1_row">
                        <div class="hello__item1_bg">
                            <img src="img/hello/img2.png" alt="" class="">
                        </div> 
                        <div class="hello__item1_border">
                            <img src="img/hello/vector2.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="hello__item2" data-aos="fade-left" 
                data-aos-anchor-placement="bottom-bottom"
                data-aos-duration="1000"
                data-aos-once="true">
                    <div class="hello__item2_row">
                        <div class="hello__item2_bg">
                            <img src="img/hello/img1.png" alt="" class="">
                        </div>     
                        <div class="hello__item2_border">
                            <img src="img/hello/vector1.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="hello__item3" data-aos="fade-left" 
                data-aos-anchor-placement="bottom-bottom"
                data-aos-duration="1500"
                data-aos-once="true">
                    <div class="hello__item3_row">
                        <div class="hello__item3_bg">
                            <img src="img/hello/img3.png" alt="" class="">
                        </div>
                        <div class="hello__item3_border">
                            <img src="img/hello/vector3.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="hello__item4" data-aos="fade-left" 
                data-aos-anchor-placement="bottom-bottom"
                data-aos-duration="2000"
                data-aos-once="true">
                    <div class="hello__item4_row">
                        <div class="hello__item4_bg">
                            <img src="img/hello/img4.png" alt="" class="">
                        </div>
                        <div class="hello__item4_border">
                            <img src="img/hello/vector4.svg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="stars-two">
        @include('vectorstars.html')
    </div>
</div>

