
<div class="portfolio">
    <div class="container">
        <div class="portfolio__row">
            <div class="portfolio__row_slider">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiperPortfolio2 mySwiper2">
                    <div class="swiper-wrapper portfolio-slider">
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                      </div>
                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                  </div>
                  <div thumbsSlider="" class="swiper mySwiperPortfolio mySwiper portfolio-slider2">
                    <div class="swiper-wrapper portfolio-swiper-wrapper2">
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
                      </div>
                    </div>
                  </div>
            </div>
            <div class="portfolio__row_content">
                <h2 class="portfolio__content_title">
                    Портфолио
                </h2>
                <p class="portfolio__content_text">
                    Добро пожаловать в мой раздел портфолио, где вы можете ознакомиться с выдающимися примерами моего маникюра. Я собрала фотографии своих работ, отражающие разнообразные стили и техники. Каждое изображение является результатом моего профессионализма и творческого подхода.
                </p>
                
                <p class="portfolio__content_text">
                    Я всегда стремлюсь к совершенству, используя только качественные материалы и современные методики. В моем портфолио представлены не только классические и трендовые дизайны, но и уникальные индивидуальные решения, созданные специально для вас. Перейдите к галерее, чтобы вдохновиться и выбрать идеальный маникюр для вашего образа!
                </p>
                <a href="" class="portfolio__content_btn">
                    
                </a>
            </div>
        </div>
    </div>
</div>



