
<div class="portfolio" id="portfolio">
  
  <div class="lines-six">
    @include('vectorlines.html')
</div>
    <div class="container">
        <div class="portfolio__row">
          <h2 class="portfolio__content_title mobile-title">
            Портфолио
          </h2>
            <div class="portfolio__row_slider">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiperPortfolio2 mySwiper2">
                    <div class="swiper-wrapper portfolio-slider">
                      <div class="swiper-slide portfolio-swiper-icon">
                        <a href="/img/nails/nails (1).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (1).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (2).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (2).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (3).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (3).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (4).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (4).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (5).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (5).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (6).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (6).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (7).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (7).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (8).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (8).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (9).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (9).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                      <div class="swiper-slide  portfolio-swiper-icon">
                        <a href="/img/nails/nails (10).jpg" data-fancybox="gallery5" data-caption="">
                          <img src="/img/nails/nails (10).jpg" class="price__item_img" />
                          <img src="/img/eye.svg" alt="" class="portfolio__item_svg">
                        </a>
                      </div>
                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                  </div>
                  <div thumbsSlider="" class="swiper mySwiperPortfolio mySwiper portfolio-slider2">
                    <div class="swiper-wrapper portfolio-swiper-wrapper2">
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (1).jpg" />
                        
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (2).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (3).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (4).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (5).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (6).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (7).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (8).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (9).jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/nails/nails (10).jpg" />
                      </div>
                    </div>
                  </div>
            </div>
            <div class="portfolio__row_content">
                <h2 class="portfolio__content_title">
                    Портфолио
                </h2>
                <p class="portfolio__content_text">
                    <span data-aos="fade-left" data-aos-duration="500" data-aos-once="true">Добро пожаловать в мой раздел портфолио, где вы</span>
                    <span data-aos="fade-left" data-aos-duration="6000" data-aos-once="true">можете ознакомиться с выдающимися примерами </span>
                    <span data-aos="fade-left" data-aos-duration="700" data-aos-once="true">моего маникюра. Я собрала фотографии своих </span>
                    <span data-aos="fade-left" data-aos-duration="800" data-aos-once="true">работ, отражающие разнообразные стили и </span>
                    <span data-aos="fade-left" data-aos-duration="900" data-aos-once="true">техники. Каждое изображение является</span>
                    <span data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">результатом моего профессионализма и</span>
                    <span data-aos="fade-left" data-aos-duration="1100" data-aos-once="true">творческого подхода.</span>
                </p>
                
                <p class="portfolio__content_text mobile-none">
                    <span data-aos="fade-left" data-aos-duration="500" data-aos-once="true">Я всегда стремлюсь к совершенству, используя </span>
                    <span data-aos="fade-left" data-aos-duration="600" data-aos-once="true">только качественные материалы и современные </span>
                    <span data-aos="fade-left" data-aos-duration="700" data-aos-once="true">методики. В моем портфолио представлены не </span>
                    <span data-aos="fade-left" data-aos-duration="800" data-aos-once="true">только классические и трендовые дизайны, но и</span> 
                    <span data-aos="fade-left" data-aos-duration="900" data-aos-once="true">уникальные индивидуальные решения, созданные</span> 
                    <span data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">специально для вас. Перейдите к галерее, чтобы </span>
                    <span data-aos="fade-left" data-aos-duration="1100" data-aos-once="true">вдохновиться и выбрать идеальный маникюр для </span>
                    <span data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">вашего образа!</span>
                </p>
                <!-- <a href="" class="portfolio__content_btn">
                    
                </a> -->
            </div>
        </div>
    </div>
</div>



