<div class="price">
    <div class="lines-three">
        @include('vectorlines.html')
    </div>
    <div class="lines-four">
        @include('vectorlines.html')
    </div>
    <div class="lines-five">
        @include('vectorlines.html')
    </div>

    <div class="container">
        <div class="stars-five">
            @include('vectorstars.html')
        </div>
        <div class="stars-six">
            @include('vectorstars.html')
        </div>
        <div class="price__header">
            <div class="price__header_title">
                <h2 class="price__title_item">Услуги</h2>
            </div>
        </div>
        <div class="price__lines">
            <div class="price__line price__margin_bottom">   
                <div class="price__line_slider swiper mySwiperPrice">
                    <div class="swiper-wrapper swiper-wrapper-portfolio">
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery1" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery1" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">

                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery1" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="price__line_content">
                    <h4 class="price__content_title">
                        Наращивание ногтей (длина 1-2)
                    </h4>
                    <ul class="price__content_list">
                        <li data-aos="fade-left" data-aos-duration="500" data-aos-once="true" class="price__list_item">
                            Снятие покрытия
                        </li>
                        <li data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="price__list_item">
                            Наращивание ногтей
                        </li>
                        <li data-aos="fade-left" data-aos-duration="1500" data-aos-once="true" class="price__list_item">
                            Однотонное покрытие
                        </li>
                        <li data-aos="fade-left" data-aos-duration="2000" data-aos-once="true" class="price__list_item">
                            Увлажнение рук маслом/кремом
                        </li>
                    </ul>
                    <a href="#" class="price__content_button"></a>
                </div>
            </div>
            <div class="price__line price__margin_bottom">
                <div class="price__line_content">
                    <h4 class="price__content_title">
                        Наращивание ногтей (длина 3-7)
                    </h4>
                    <ul class="price__content_list">
                        <li data-aos="fade-right" data-aos-duration="500" data-aos-once="true" class="price__list_item">
                            Снятие покрытия
                        </li>
                        <li data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="price__list_item">
                            Наращивание ногтей (длина 3-6) <br> (7 длина - 1600р)
                        </li>
                        <li data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" class="price__list_item">
                            Однотонное покрытие
                        </li>
                        <li data-aos="fade-right" data-aos-duration="2000" data-aos-once="true" class="price__list_item">
                            Увлажнение рук маслом/кремом
                        </li>
                    </ul>
                    <a href="#" class="price__content_button"></a>
                </div>
                <div class="price__line_slider swiper mySwiperPrice">
                    <div class="swiper-wrapper swiper-wrapper-portfolio">
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery2" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery2" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery2" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="price__line price__margin_bottom">
                <div class="price__line_slider swiper mySwiperPrice">
                    <div class="swiper-wrapper swiper-wrapper-portfolio">
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery3" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery3" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery3" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="price__line_content">
                    <h4 class="price__content_title">
                        Маникюр с однотонным покрытием
                    </h4>
                    <ul class="price__content_list">
                        <li data-aos="fade-left" data-aos-duration="500" data-aos-once="true" class="price__list_item">
                            Легкий дизайн на 1-2 ногтя (50-100 р)
                        </li>
                        <li data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="price__list_item">
                            Легкий дизайн на 4 ногтя (200 р)
                        </li>
                        <li data-aos="fade-left" data-aos-duration="1500" data-aos-once="true" class="price__list_item">
                            Сложный дизайн <br>
                            на 4-10 ногтей/втирка/френч (300 р)
                        </li>
                        <li data-aos="fade-left" data-aos-duration="2000" data-aos-once="true" class="price__list_item">
                            Рисунки/объемная лепка (250 р/1 рука )
                        </li>
                    </ul>
                    <a href="#" class="price__content_button"></a>
                </div>
            </div>
            <div class="price__line">
                <div class="price__line_content">
                    <h4 class="price__content_title">
                        Наращивание ногтей (длина 1-2)
                    </h4>
                    <ul class="price__content_list">
                        <li data-aos="fade-right" data-aos-duration="500" data-aos-once="true" class="price__list_item">
                            Снятие покрытия
                        </li>
                        <li data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="price__list_item">
                            Обработка кутикулы
                        </li>
                        <li data-aos="fade-right" data-aos-duration="1500" data-aos-once="true" class="price__list_item">
                            Укрепление и выравнивание гелем
                        </li>
                        <li data-aos="fade-right" data-aos-duration="2000" data-aos-once="true" class="price__list_item">
                            Однотонное покрытие цветом
                        </li>
                        <li data-aos="fade-right" data-aos-duration="2500" data-aos-once="true" class="price__list_item">
                            Увлажнение рук маслом/кремом
                        </li>
                    </ul>
                    <a href="#" class="price__content_button"></a>
                </div>
                <div class="price__line_slider swiper mySwiperPrice">
                    <div class="swiper-wrapper swiper-wrapper-portfolio">
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery4" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery4" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        <div class="price__slider_item swiper-slide">
                            <a href="/img/price1.png" data-fancybox="gallery4" data-caption="Наращивание ногтей (длина 1-2)">
                                <img src="/img/price1.png" alt="" class="price__item_img">
                            </a>
                            <img src="/img/eye.svg" alt="" class="price__item_svg">
                        </div>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="stars-four">
        @include('vectorstars.html')
    </div>
</div>

