
    <div class="stars">
        <div class="stars__row">
            <div class="stars__row_item stars__position_one">
                <img src="img/stars/star1.svg" alt="" class="stars__row_img">
            </div>
            <div class="stars__row_item stars__position_two">
                <img src="img/stars/star2.svg" alt="" class="stars__row_img">
            </div>
            <div class="stars__row_item stars__position_three">
                <img src="img/stars/star3.svg" alt="" class="stars__row_img">
            </div>
        </div>
    </div>
